.logo{
	height: 300px;
	background-image: url("imgs/logo.png");
	text-align: center;
}
.logo h1{
	color: red;
	background: white;
	position: absolute;
	border-radius: 5px;
	padding: 5px 5px;
}
.logo h2{
	color: 	#ffab00;
	font-weight: bold;
	font-size: 100px;
	position: absolute;
	border-radius: 5px;
	padding: 5px 5px;
}
input{
	text-indent: 15px;
}
button{
	height: 30px;
	width: 50px;
	border: none;
	border-radius: 10px;
	background-color: orange;
	color: white;
}
button:hover {
	transform: scale(1.1,1.1);
}
.searchbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #101D2E;
	padding: 10px 10px;
}
.searchbar input{
	height: 30px;
	width: 400px;
	border: 1px solid lightgrey;
	border-radius: 5px ;
}
.searchbar button{
	height: 30px;
	width: 30px;
	border: none;
	border-radius: 10px;
	background-color: orange;
	color: white;
	margin-left: 5px;
}
.slide{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #052440;
}
.slide img{
	height: 300px;
	width: 1600px;
}
.optionbar{
	display: flex;
	background-color:#1E3E59;
	justify-content: space-between;
	align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #84A9BF;
  text-decoration: underline;
  color: orange;
  font-weight: bold;
}
.optionbar button{
	margin-right: 10px; 
}
.titlebar{
	background-color: #00001a;
	color: white;
	padding: 15px 15px;
	margin-bottom: 10px;
}


.clearfix{
	text-align: center;
	margin-bottom: 10px;
	height: 520px;
	width: 400px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 10px;
	margin-top: 30px;
	margin-right: 30px;
	background-color: white;
	transition: all 0.5s ease;
}
.clearfix button{
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background-color: orange;
	color: white;
}
.clearfix:hover {
	transform: scale(1.1,1.1);
}
.buttonbox{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h4{
	font-weight: normal;
	font-size: 20px;
}

.grid{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto auto;
}
.grid img{
	height: 350px;
	width: 380px;
	border: none;
	border-radius: 5px;
}
.grid2{
	display: grid;
	grid-template-columns:auto auto auto auto auto;
	text-align: center;
	align-items: center;
	background-color: #00001a;
	color: white; 
}
.gridc{
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	align-items: center;
}
.gridc img{
	height: 100px;
	width: 180px;
	border: none;
	border-radius: 5px;
}
.gridc  button{
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px;
}
.discountbar{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: #1E3E59;
	color: white;
	padding: 10px 10px;
}
.discountbar button{
	height: 60px;
	width: 150px;
	border: none;
	border-radius: 5px;
	padding: 15px 15px;
}
.discountbar input{
	height: 30px;
	width: 320px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-size: 20px;
	padding: 15px 15px;
}
.paymentbar{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	background-color: #00001a;
	color: white;
	padding: 10px 10px;
}

.paymentbar button{
	height: 130px;
	width: 100px;
	border: none;
	border-radius: 5px;
	padding: 15px 15px;
}
.paymentbar input{
	height: 100px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-size: 20px;
	padding: 15px 15px;
}

.footer{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #052440;
	color: white;
}
.footer h5{
	font-weight: normal;
}
.footer h5:hover{
	color: orange; 
}
.paymentbox{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto;
	flex-wrap: 20px;
}

.paymentbox label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}

.paymentbox input {
	width: 500px;
	height: 30px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}
.paymentbox button {
	height: 30px;
	width: 100px;
}
.gridd{
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 10px 16px;
	
}
.gridd img{
	height: 100px;
	width: 180px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}